Django>=5.1.6
Pillow>=10.0.0  # Para manejo de imágenes
django-crispy-forms>=2.1  # Para mejorar la renderización de formularios
python-dotenv>=1.0.0  # Para variables de entorno
django-cleanup>=8.0.0  # Para limpiar archivos media automáticamente
django-compressor>=4.4  # Para comprimir archivos estáticos
django-debug-toolbar>=4.2  # Para desarrollo
whitenoise>=6.6.0  # Para servir archivos estáticos
gunicorn>=21.2.0  # Para producción
requests>=2.31.0  # Para realizar solicitudes HTTP (usado en Gemini API)

# Dependencias opcionales para desarrollo
black>=23.7.0  # Formateador de código (desarrollo)
flake8>=6.1.0  # Linter para verificar errores en código (desarrollo)
pytest>=7.4.0  # Para pruebas unitarias (desarrollo)
